Repository chazzu/homecontrol-5fbo04, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @backend-team, @frontend-team, @devops-team, @typescript-team, @qa-team, @lead-developer, @docs-team

Add public-samples/homecontrol-5fbo04/src/backend/src/core/utils/validation.ts
  src/backend/src/core/utils/validation.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/src/database/models/FloorPlan.ts
  src/backend/src/database/models/FloorPlan.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/src/database/models/Plugin.ts
  src/backend/src/database/models/Plugin.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/src/database/models/State.ts
  src/backend/src/database/models/State.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/src/database/repositories/FloorPlanRepository.ts
  src/backend/src/database/repositories/FloorPlanRepository.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/src/database/repositories/PluginRepository.ts
  src/backend/src/database/repositories/PluginRepository.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/src/database/repositories/StateRepository.ts
  src/backend/src/database/repositories/StateRepository.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/src/types/environment.d.ts
  src/backend/src/types/environment.d.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/src/types/express.d.ts
  src/backend/src/types/express.d.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/src/types/homeAssistant.d.ts
  src/backend/src/types/homeAssistant.d.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/api/controllers/FloorPlanController.test.ts
  src/backend/tests/api/controllers/FloorPlanController.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/api/controllers/PluginController.test.ts
  src/backend/tests/api/controllers/PluginController.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/api/controllers/StateController.test.ts
  src/backend/tests/api/controllers/StateController.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/api/middleware/auth.test.ts
  src/backend/tests/api/middleware/auth.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/api/middleware/errorHandler.test.ts
  src/backend/tests/api/middleware/errorHandler.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/api/middleware/rateLimiter.test.ts
  src/backend/tests/api/middleware/rateLimiter.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/api/middleware/validation.test.ts
  src/backend/tests/api/middleware/validation.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/FloorPlanManager.test.ts
  src/backend/tests/core/FloorPlanManager.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/PluginManager.test.ts
  src/backend/tests/core/PluginManager.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/StateManager.test.ts
  src/backend/tests/core/StateManager.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/WebSocketManager.test.ts
  src/backend/tests/core/WebSocketManager.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/services/FloorPlanService.test.ts
  src/backend/tests/core/services/FloorPlanService.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/services/PluginService.test.ts
  src/backend/tests/core/services/PluginService.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/services/StateService.test.ts
  src/backend/tests/core/services/StateService.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/services/WebSocketService.test.ts
  src/backend/tests/core/services/WebSocketService.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/utils/encryption.test.ts
  src/backend/tests/core/utils/encryption.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/utils/floorPlanProcessor.test.ts
  src/backend/tests/core/utils/floorPlanProcessor.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/utils/pluginValidator.test.ts
  src/backend/tests/core/utils/pluginValidator.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/utils/security.test.ts
  src/backend/tests/core/utils/security.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/utils/svgProcessor.test.ts
  src/backend/tests/core/utils/svgProcessor.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/backend/tests/core/utils/validation.test.ts
  src/backend/tests/core/utils/validation.test.ts
Owners: @qa-team

Add public-samples/homecontrol-5fbo04/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/homecontrol-5fbo04/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/homecontrol-5fbo04/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/homecontrol-5fbo04/src/web/README.md
  src/web/README.md
Owners: @docs-team

Add public-samples/homecontrol-5fbo04/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/homecontrol-5fbo04/src/web/package.json
  src/web/package.json
Owners: @lead-developer

Add public-samples/homecontrol-5fbo04/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/homecontrol-5fbo04/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
*       @global-owner1 @global-owner2

# Backend team owns all files under src/backend
src/backend/       @backend-team

# Frontend team owns all files under src/web
src/web/       @frontend-team

# DevOps team owns infrastructure and GitHub workflow files
infrastructure/       @devops-team
.github/workflows/    @devops-team

# TypeScript team reviews all TypeScript files
*.ts        @typescript-team

# QA team reviews all test files
*.test.ts   @qa-team

# Lead developer owns package configuration
package.json    @lead-developer

# Documentation team owns all markdown files
*.md        @docs-team

# Order is important - the last matching pattern takes precedence
