Repository chazzu/homecontrol-5fbo04, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @backend-team, @frontend-team, @devops-team, @typescript-team, @qa-team, @lead-developer, @docs-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
*       @global-owner1 @global-owner2

# Backend team owns all files under src/backend
src/backend/       @backend-team

# Frontend team owns all files under src/web
src/web/       @frontend-team

# DevOps team owns infrastructure and GitHub workflow files
infrastructure/       @devops-team
.github/workflows/    @devops-team

# TypeScript team reviews all TypeScript files
*.ts        @typescript-team

# QA team reviews all test files
*.test.ts   @qa-team

# Lead developer owns package configuration
package.json    @lead-developer

# Documentation team owns all markdown files
*.md        @docs-team

# Order is important - the last matching pattern takes precedence

Add public-samples/homecontrol-5fbo04/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @docs-team

Add public-samples/homecontrol-5fbo04/.github/dependabot.yml
  .github/dependabot.yml
Owners: @global-owner1, @global-owner2

Add public-samples/homecontrol-5fbo04/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team

Add public-samples/homecontrol-5fbo04/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team

Add public-samples/homecontrol-5fbo04/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/.github/workflows/codeql.yml
  .github/workflows/codeql.yml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team

Add public-samples/homecontrol-5fbo04/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team

Add public-samples/homecontrol-5fbo04/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team

Add public-samples/homecontrol-5fbo04/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team

Add public-samples/homecontrol-5fbo04/infrastructure/docker/Dockerfile.backend
  infrastructure/docker/Dockerfile.backend
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/docker/Dockerfile.web
  infrastructure/docker/Dockerfile.web
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/docker/nginx.conf
  infrastructure/docker/nginx.conf
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/kubernetes/configmap.yaml
  infrastructure/kubernetes/configmap.yaml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/kubernetes/web-deployment.yaml
  infrastructure/kubernetes/web-deployment.yaml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/kubernetes/web-service.yaml
  infrastructure/kubernetes/web-service.yaml
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/terraform/modules/kubernetes/main.tf
  infrastructure/terraform/modules/kubernetes/main.tf
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/terraform/modules/kubernetes/outputs.tf
  infrastructure/terraform/modules/kubernetes/outputs.tf
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/infrastructure/terraform/modules/kubernetes/variables.tf
  infrastructure/terraform/modules/kubernetes/variables.tf
Owners: @devops-team

Add public-samples/homecontrol-5fbo04/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/homecontrol-5fbo04/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team

Add public-samples/homecontrol-5fbo04/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/homecontrol-5fbo04/src/backend/README.md
  src/backend/README.md
Owners: @docs-team

Add public-samples/homecontrol-5fbo04/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @typescript-team

Add public-samples/homecontrol-5fbo04/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/homecontrol-5fbo04/src/backend/package.json
  src/backend/package.json
Owners: @lead-developer

Add public-samples/homecontrol-5fbo04/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/homecontrol-5fbo04/src/backend/src/index.ts
  src/backend/src/index.ts
Owners: @typescript-team
